#Bienvenida {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 35.16px;
    color: rgba(60, 35, 19, 1);
}

.Bloque-1{
background-color: rgba(34, 34, 34, 1);
color: white;
}

.Bloque-2{
background-color: rgba(240, 168, 62, 1);
}

#Bloque3-Comedero-y-Huesos{
    background-image: url('https://s3-alpha-sig.figma.com/img/53ec/2946/b101b9298925dcc2ae1d629537e66036?Expires=1655078400&Signature=IKPcMMvUxCahpcZpLYPgE7VU4SF0JIDd828JrVjro~Ev~RdCG9J4qfshoYAttRU0PP8grIa-TZL3ulbIzBuzVRRwmOw2Rm9awKk8Db0BI0QqXPyWrRyLqwzUunFBzRV3XE6zFASNuM5qLxHY-dcJK0X8EyQORFqmYcgvf5DL1mmUNQvGaZpAszNRnSybOUNkT-swAKfHATF468umg-2GYOiyVXotrr8ix7FxrDFkbqqKGfIpdcGkljdDTJ6pWHMy4ry6oln1nq6j72Q9VEGwklLr-qr3ezALUvQjB1FaXV2p-stG2GWQQlaV3Z1Q3SvClJNxsoRNTksAklTGNm88Tw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-position: center;
    background-size: cover;
    height: 620px;
    background-position-y: -106px;
    background-position-x: center;
    text-align: center;


}

#Bloque-3{
    height: 284px;
    background-color: rgba(60, 35, 19, 1);
}

#Bloque-4 {

    bottom: 17px;
    background-color: rgba(60, 35, 19, 1);
}

body {
    font-family: 'Roboto', sans-serif;
}

#color-tx {
    color:  rgba(255, 255, 255, 1);
}

.datos {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: rgba(138, 135, 135, 1);
}

.fondo-producto {
    width: 265px;
    height: 312px;
    left: 664px;
    top: 720px;
    background-color: rgba(251, 250, 246, 1);
}

#fondo-resaltado {
    width: 141px;
    height: 49px;
    left: 767px;
    top: 334px;
    background-color: rgba(240, 168, 62, 1);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 45.5%;
}

.front {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3C2313;
}

#front-final {
    color: rgba(255, 255, 255, 1) ;
}

.nombre-producto {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(60, 35, 19, 1);
    text-align: center;
}

.perro-y-gato {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.precio-producto {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(240, 168, 62, 1);
    text-align: center;
}

#productos {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(102, 102, 102, 1);   
    text-align: center;
   
}

#productos-destacados {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: rgba(60, 35, 19, 1);
    text-align: center;
}

#resaltado {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    text-align: center;

}

#subtitulo1 {
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    color: rgba(60, 35, 19, 1);
}




















#ubicación-tx {
      text-align: center;
}




#patita {
    text-align: center;
}



#perro-y-gato-final {
    color: rgba(240, 168, 62, 1);
}